.slot-0 {
    float: left;
    width: 50%;
}
.slot-1, .slot-2 {
    float: left;
    width: 25%;
}
.slot-1 img {
    height: 242px;
}
.slot-2 img {
    height: 242px;
}
@media screen and (max-width: 1326px) {
    .slot-0 img {
        height: 242px;
    }
    
  }
  @media screen and (max-width: 974px) {
    .slot-0 img {
        width: 100%;
    }
    .slot-1 img {
        width: 100%;
    }
    .slot-2 img {
        width: 100%;
    }
    
  }



  .slot-0 {
    float: left;
    width: 50%;
}

.slot-2,
.slot-1 {
    float: left;
    width: 25%;
}

.slot-0 .blog-meta h4 {
    font-size: 31px;
    line-height: 1.4;
}




.slot-0 {
    float: left;
    width: 50%;
}

.slot-2,
.slot-1 {
    float: left;
    width: 25%;
}

.slot-0 .blog-meta h4 {
    font-size: 31px;
    line-height: 1.4;
}
@media (max-width: 980px) {
    .first-section .blog-meta h4 {
        font-size: 16px;
    }
    .shadow-desc {
        padding: 1rem 0.5rem;
    }
    .slot-2,
    .slot-1,
    .slot-0 {
        float: none;
        width: 100%;
        display: block;
    }
}
