<div  *ngFor="let item of headerNews;let i = index">
    <div class="slot-{{i}}">
        <div class="masonry-box post-media">
            <img src="{{item.newsDetail.imageUrl}}" alt="" class="img-fluid">
            <div class="shadoweffect">
                <div class="shadow-desc">
                    <div class="blog-meta">
                        <span class="bg-orange">
                            <a title="">{{item.theLoai}}</a>
                        </span>
                        <h4>
                            <a [routerLink]="['/chi-tiet/',item.id]" class="text-center" title="">{{item.tieuDe}}</a>
                        </h4>
                        
                        <small>
                            <a title="">{{item.newsDetail.thoiGianDang}}</a>
                        </small>
                        <small>
                            <a title="">by {{item.user?.name}}</a>
                        </small>
                    </div>
                    <!-- end meta -->
                </div>
                <!-- end shadow-desc -->
            </div>
            <!-- end shadow -->
        </div>
        <!-- end post-media -->
    </div>
    <!-- end first-side -->
</div>