
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<app-header></app-header>
<div class="container" style="padding-top:80px;">
    <div class="row">
        <div class="span12">
            <div class="form-horizontal">
                <fieldset>
                    <div id="legend">
                        <legend class="">Đăng nhập</legend>
                    </div>
                    <div class="control-group">

                        <!-- Username -->
                        <label class="control-label">Tên đăng nhập</label>
                        <div class="controls">
                            <input type="text" (keyup)="onKey($event)" [(ngModel)]="userLogin.UserName" class="input-xlarge">
                        </div>
                        <span *ngIf="messUser!=null" style="padding-left:25px;color:red">{{messUser}}</span>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label">Mật khẩu</label>
                        <div class="controls">
                            <input type="password" (keyup)="onKey($event)" [(ngModel)]="userLogin.Password" class="input-xlarge">
                        </div>
                        <span *ngIf="messPass!=null" style="padding-left:25px;color:red">{{messPass}}</span>
                    </div>
                    <a style="padding-left:400px;" [routerLink]="['/dang-ky']"  class="nav-link">Đăng ký</a>
                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-success" (click)="Login()">Login</button>
                            <!-- <button class="btn btn-success" (click)="FireBase()">Test FireBase</button> -->
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>