<div class="blog-box row" *ngFor="let item of bodyNewsLayout| paginate:{id:'listing_pagination',
                                     itemsPerPage:4,
                                     currentPage:pageNumber,
                                     totalItems:totalRecords}">
    <div class="col-md-4">
        <div class="post-media">
            <a title="">
                <img src="{{item.newsDetail.imageUrl}}" alt="" class="img-fluid">
                <div class="hovereffect"></div>
            </a>
        </div>
        <!-- end media -->
    </div>
    <!-- end col -->

    <div class="blog-meta big-meta col-md-8">
        <h4>
            <a [routerLink]="['/chi-tiet/',item.id]"  title="">{{item.tieuDe}}</a>
        </h4>
        <p>{{item.newsDetail.noiDungSub}}</p>
        <small class="firstsmall">
            <a class="bg-orange" title="">{{item.theLoai}}</a>
        </small>
        <small>
            <a title="">{{item.newsDetail.thoiGianDang}}</a>
        </small>
        <small>
            <a title="">by {{item.user?.name}}</a>
        </small>
        <small>
            <a title="">
                <i class="fa fa-eye"></i> 1114</a>
        </small>
    </div>
    <!-- end meta -->
</div>
<!-- end blog-box -->

<hr class="invis">

<div style="margin-left:250px;">
    <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="pageNumber =$event"></pagination-controls>
</div>