<div id="wrapper">


    <router-outlet></router-outlet>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="widget">
                        <div class="footer-text text-left">

                            <div class="social">
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </div>

                            <hr class="invis">

                           
                            <!-- end newsletter -->
                        </div>
                        <!-- end footer-text -->
                    </div>
                    <!-- end widget -->
                </div>
                <!-- end col -->

            </div>

            <div class="row">
                
                <div class="col-md-12 text-center">
                    <br>
                    <div class="copyright">&copy; NashTech. Design: Khanh Hoang. {{ message | async | json }}</div>
                </div>
            </div>
        </div>
        <!-- end container -->
    </footer>
    <!-- end footer -->

    <div class="dmtop">Scroll to Top</div>

</div>
<!-- end wrapper -->

<!-- Core JavaScript
    ================================================== -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/tether.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/custom.js"></script>