<app-header></app-header>
<section class="section single-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-title-area text-center">
                        <ol class="breadcrumb hidden-xs-down">
                            <li class="breadcrumb-item">
                                <a [routerLink]="['/home']">Home</a>
                            </li>
                            <li class="breadcrumb-item active">{{detailNews.tieuDe}}</li>
                        </ol>

                        <span class="color-orange">
                            <a title="">{{detailNews.theLoai}}</a>
                        </span>

                        <h3>{{detailNews.tieuDe}}</h3>

                        <div class="blog-meta big-meta">
                            <small>
                                <a title="">{{detailNews?.newsDetail?.thoiGianDang}}</a>
                            </small>
                            <small>
                                <a title="">by {{detailNews.user?.name}}</a>
                            </small>
                            <small>
                                <a title="">
                                    <i class="fa fa-eye"></i> 2344</a>
                            </small>
                        </div>
                        <!-- end meta -->

                        <div class="post-sharing">
                            <ul class="list-inline">
                                <li>
                                    <a class="fb-button btn btn-primary">
                                        <i class="fa fa-facebook"></i>
                                        <span class="down-mobile">Share on Facebook</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="tw-button btn btn-primary">
                                        <i class="fa fa-twitter"></i>
                                        <span class="down-mobile">Tweet on Twitter</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="gp-button btn btn-primary">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- end post-sharing -->
                    </div>
                    <!-- end title -->

                    <div class="single-post-media">
                        <img src="{{detailNews?.newsDetail?.imageUrl}}" alt="" class="img-fluid">
                    </div>
                    <!-- end media -->

                    <div class="blog-content">
                        <div class="pp">
                            <p>{{detailNews.newsDetail?.noiDung}}</p>

                        </div>
                        <!-- end pp -->

                        <img src="{{detailNews.newsDetail?.imageUrlSub}}" alt="" class="img-fluid img-fullwidth">

                        <div class="pp">

                            <p>{{detailNews.newsDetail?.noiDungSub}}</p>

                        </div>
                        <!-- end pp -->
                    </div>
                    <!-- end content -->

                    <div class="blog-title-area">
                        <div class="tag-cloud-single">
                            <span>Tags</span>
                            <small>
                                <a title="">{{detailNews.theLoai}}</a>
                            </small>

                        </div>
                        <!-- end meta -->

                        <div class="post-sharing">
                            <ul class="list-inline">
                                <li>
                                    <a href="#" class="fb-button btn btn-primary">
                                        <i class="fa fa-facebook"></i>
                                        <span class="down-mobile">Share on Facebook</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tw-button btn btn-primary">
                                        <i class="fa fa-twitter"></i>
                                        <span class="down-mobile">Tweet on Twitter</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="gp-button btn btn-primary">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- end post-sharing -->
                    </div>
                    <!-- end title -->

                    <hr class="invis1">

                    <div class="custombox authorbox clearfix">
                        <h4 class="small-title">Người đăng bài</h4>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <img src="https://cdn.itviec.com/employers/nashtech/logo/social/nBaSjKy2e68gEwoJxsLk5zCe/logo.jpg" alt="" class="img-fluid rounded-circle">
                            </div>
                            <!-- end col -->

                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <h4>
                                    <a>{{detailNews.user?.name}}</a>
                                </h4>
                                <p>{{detailNews.user?.gioiThieu}}</p>

                                <div class="topsocial">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Youtube">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Website">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                                <!-- end social -->

                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end author-box -->

                    <hr class="invis1">



                    <hr class="invis1">

                    <div class="custombox clearfix">
                        <h4 class="small-title">{{detailNews.comments.length}} bình luận</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="comments-list" *ngFor="let item of detailNews.comments;let i = index">
                                    <div class="media">
                                        <a class="media-left">
                                            <img src="https://cdn.itviec.com/employers/nashtech/logo/social/nBaSjKy2e68gEwoJxsLk5zCe/logo.jpg" alt="" class="rounded-circle">
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading user_name">{{item.userName}}</h4>
                                            <p>{{item.noiDung}}</p>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end custom-box -->

                    <hr class="invis1">

                    <div class="custombox clearfix">
                        <h4 class="small-title">Bình luận</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-wrapper">

                                    <textarea [(ngModel)]="binhLuan.noiDung" class="form-control" placeholder="Bình luận"></textarea>
                                    <button (click)="BinhLuan()" type="submit" class="btn btn-primary">Bình luận</button>
                                    <button style="margin-left:30px" (click)="FireBase()" type="submit" class="btn btn-primary">Test FireBase</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page-wrapper -->
            </div>
            <!-- end col -->

            <div style="padding-top: 215px;" class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <app-news-right></app-news-right>
                <!-- end sidebar -->
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>