<app-header></app-header>
<div class="page-title lb single-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>
                    <i class="fa fas fa-share bg-orange"></i> Đăng bài mới
                    <small class="hidden-xs-down hidden-sm-down">Tài khoản: {{userName}} </small>
                </h2>
            </div>
            <!-- end col -->
            <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/home">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Đăng bài viết</li>
                </ol>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page-title -->

<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="row">

                        <div class="col-lg-7">
                            <div class="form-wrapper">


                                <input type="text" class="form-control" [(ngModel)]="news.TieuDe" placeholder="Tiêu đề bài viết">
                                <span *ngIf="tieuDeValidate!=null" style="color:red">{{tieuDeValidate}}</span>


                                <textarea class="form-control" [(ngModel)]="news.NoiDung" placeholder="Nội dung"></textarea>
                                <span *ngIf="noidungValidate!=null" style="color:red">{{noidungValidate}}</span>


                                <textarea class="form-control" [(ngModel)]="news.NoiDungSub" placeholder="Nội dung phụ"></textarea>
                                <span *ngIf="noidungSubValidate!=null" style="color:red">{{noidungSubValidate}}</span>


                                <input type="text" class="form-control" [(ngModel)]="news.TheLoai" placeholder="Thể loại">
                                <span *ngIf="theLoaiValidate!=null" style="color:red">{{theLoaiValidate}}</span>

                                <div class="form-group mt-3">
                                    <label class="mr-2">Upload ảnh chính:</label>
                                    <input type="file" (change)="fileSelected($event.target.files)">
                                </div>
                                <span style="color:red"></span>
                                <br />
                                <div class="form-group mt-3">
                                    <label class="mr-2">Upload ảnh phụ:</label>
                                    <input type="file" (change)="fileanhPhuSelected($event.target.files)">
                                </div>
                                <span style="color:red"></span>
                                <br />
                                <button (click)="Onsubmit()" class="btn btn-primary">Đăng
                                    <i class="fa fas fa-share"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page-wrapper -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>