<div class="sidebar">
    <div class="widget">
        <div class="banner-spot clearfix">
            <div class="banner-img">
                <img src="https://cdn.itviec.com/employers/nashtech/logo/social/nBaSjKy2e68gEwoJxsLk5zCe/logo.jpg" alt="" class="img-fluid">
            </div>
            <!-- end banner-img -->
        </div>
        <!-- end banner -->
    </div>
    <!-- end widget -->

    <div class="widget">
        <h2 class="widget-title">Follow Us</h2>

        <div class="row text-center">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <a href="#" class="social-button facebook-button">
                    <i class="fa fa-facebook"></i>
                    <p>27k</p>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <a href="#" class="social-button twitter-button">
                    <i class="fa fa-twitter"></i>
                    <p>98k</p>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <a href="#" class="social-button google-button">
                    <i class="fa fa-google-plus"></i>
                    <p>17k</p>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <a href="#" class="social-button youtube-button">
                    <i class="fa fa-youtube"></i>
                    <p>22k</p>
                </a>
            </div>
        </div>
    </div>
    <!-- end widget -->

    <div class="widget">
        <div class="banner-spot clearfix">
            <div class="banner-img">
                <img src="https://farm5.staticflickr.com/4840/31051092187_0029c61a99_c.jpg" alt="" class="img-fluid">
            </div>
            <!-- end banner-img -->
        </div>
        <!-- end banner -->
    </div>
    <!-- end widget -->
</div>
<!-- end sidebar -->