<app-header>
</app-header>
<div class="page-title lb single-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>
                    <i class="fa fa-star bg-orange"></i>Tài khoản:{{user.name}}</h2>
            </div>
            <!-- end col -->
            <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>Tài khoản</a>
                    </li>
                    <li class="breadcrumb-item active">{{user.name}}</li>
                </ol>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page-title -->

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="custombox authorbox clearfix">
                        <h4 class="small-title">Thông tin</h4>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <img src="https://cdn.itviec.com/employers/nashtech/logo/social/nBaSjKy2e68gEwoJxsLk5zCe/logo.jpg" alt="" class="img-fluid rounded-circle">
                            </div>
                            <!-- end col -->

                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <h4>
                                    <a>{{user.name}}</a>
                                </h4>
                                <p>{{user.gioiThieu}}</p>

                                <div class="topsocial">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Youtube">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Website">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                                <!-- end social -->

                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end author-box -->

                    <hr class="invis1">
                    <h2> Bài viết đã đăng</h2>
                    <div *ngIf="user.news.length >0">
                        <div *ngFor="let item of user.news| paginate:{id:'listing_pagination',
                                        itemsPerPage:4,
                                        currentPage:pageNumber,
                                        totalItems:totalRecords}">
                            <div class="blog-box row">
                                <div class="col-md-4">
                                    <div class="post-media">
                                        <a title="">
                                            <img src="{{item.newsDetail.imageUrl}}" alt="" class="img-fluid">
                                            <div class="hovereffect"></div>
                                        </a>
                                    </div>
                                    <!-- end media -->
                                </div>
                                <!-- end col -->

                                <div class="blog-meta big-meta col-md-8">
                                    <h4>
                                        <a [routerLink]="['/chi-tiet/',item.id]">
                                            {{item.tieuDe}}
                                        </a>
                                    </h4>
                                    <p>{{item.newsDetail.noiDungSub}}</p>
                                    <a class="bg-orange" title="" [routerLink]="['/sua-bai-viet/',item.id]">Sửa</a>
                                    <button class="bg-orange" style="margin-left:10px;height:26px;" title="" (click)="DeleteNew(item.id)">Xóa</button>
                                    <small style="margin-left:10px;">
                                        <a title="">{{item.theLoai}}</a>
                                    </small>

                                    <small>
                                        <a title="">{{item.newsDetail.thoiGianDang}}</a>
                                    </small>
                                </div>
                                <!-- end meta -->
                            </div>
                            <!-- end blog-box -->

                            <hr class="invis">

                        </div>
                       
                        <div style="margin-left:250px;">
                            <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="pageNumber =$event"></pagination-controls>
                        </div>
                    </div>
                    <h3 *ngIf="user.news.length == 0"> Bạn chưa có bài viết nào </h3>
                </div>
                <!-- end col -->
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>