<app-header></app-header>
<div class="page-title lb single-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>
                    <i class="fa fas fa-share bg-orange"></i> Chỉnh sửa bài viết
                    <small class="hidden-xs-down hidden-sm-down">Tài khoản: {{userName}} </small>
                </h2>
            </div>
            <!-- end col -->
            <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/home">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Chỉnh sửa bài viết</li>
                </ol>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page-title -->

<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="row">

                        <div class="col-lg-7">
                            <div class="form-wrapper">

                                <label class="mr-2"> Tiêu đề:</label>
                                <span style="color:red">{{tieuDeValidate}}</span>
                                <input type="text" [(ngModel)]="updateNew.tieuDe" class="form-control" placeholder="Tiêu đề bài viết">


                                <label class="mr-2"> Nội dung:</label>
                                <span style="color:red">{{noiDungValidate}}</span>
                                <textarea class="form-control" [(ngModel)]="updateNew.noiDung" placeholder="Nội dung"></textarea>


                                <label class="mr-2"> Nội dung phụ:</label>
                                <span style="color:red">{{noiDungSubVaildate}}</span>
                                <textarea class="form-control" [(ngModel)]="updateNew.noiDungSub" placeholder="Nội dung phụ"></textarea>


                                <label class="mr-2"> Thể loại:</label>
                                <span style="color:red">{{theLoaiValidate}}</span>
                                <input type="text" class="form-control" [(ngModel)]="updateNew.theLoai" placeholder="Thể loại">


                                <div class="form-group mt-3">
                                    <label class="mr-2"> Ảnh chính:</label>
                                    <img style="width:120px;height:120px;" src="{{updateNew.imageUrl}}" />
                                    <button type="button" id="buttonanhchinh" *ngIf="disableAnhChinh==true" class="btn btn-primary" (click)="clickAnhChinh()"
                                        style="margin-left:20px;">Sửa</button>
                                    <div class="form-group mt-3" *ngIf="disableAnhChinh==false">
                                        <label class="mr-2">Upload ảnh chính:</label>
                                        <input type="file" (change)="fileSelected($event.target.files)">
                                    </div>
                                    <span style="color:red"></span>
                                    <br />
                                </div>
                                <div class="form-group mt-3">
                                    <label class="mr-2"> Ảnh phụ:</label>
                                    <img style="width:120px;height:120px;margin-left:16px;" src="{{updateNew.imageUrlSub}}" />
                                    <button type="button" class="btn btn-primary" *ngIf="disableAnhPhu==true" style="margin-left:20px;" (click)="clickAnhPhu()">Sửa</button>
                                    <div class="form-group mt-3" *ngIf="disableAnhPhu==false">
                                        <label class="mr-2">Upload ảnh phụ:</label>
                                        <input type="file" (change)="fileanhPhuSelected($event.target.files)">
                                    </div>
                                    <span style="color:red"></span>
                                    <br />
                                </div>

                                <button (click)="UpdateNews()" class="btn btn-primary">Sửa
                                    <i class="fa fas fa-share"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page-wrapper -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>