<app-header></app-header>
<section class="section first-section">
    <div class="container-fluid">
        <div class="masonry-blog clearfix">
            <app-top-header></app-top-header>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-top clearfix">
                        <h4 class="pull-left">Recent News
                            <a href="#">
                                <i class="fa fa-rss"></i>
                            </a>
                        </h4>
                    </div>
                    <!-- end blog-top -->

                    <div class="blog-list clearfix">
                        <app-news-body></app-news-body>
                    </div>
                    <!-- end blog-list -->
                </div>
                <!-- end page-wrapper -->

                <hr class="invis">


            </div>
            <!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <app-news-right></app-news-right>
                <!-- end sidebar -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>