<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<app-header></app-header>
<div class="container" style="padding-top:80px;">
    <div class="row">
        <div class="span12">
            <div class="form-horizontal">
                <fieldset>
                    <div id="legend">
                        <legend class="">Đăng ký</legend>
                    </div>
                    <div class="control-group">

                        <!-- Username -->
                        <label class="control-label">Tên đăng nhập</label>
                        <div class="controls">
                            <input type="text" (keyup)="onKey($event)" [(ngModel)]="dangKy.UserName" class="input-xlarge">
                        </div>
                        <span *ngIf="userNameValidate!=null" style="padding-left:25px;color:red">{{userNameValidate}}</span>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label">Mật khẩu</label>
                        <div class="controls">
                            <input type="password" (keyup)="onKey($event)" [(ngModel)]="dangKy.Password" class="input-xlarge">
                        </div>
                        <span *ngIf="passwordValidate!=null" style="padding-left:25px;color:red">{{passwordValidate}}</span>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label">Xác nhận mật khẩu</label>
                        <div class="controls">
                            <input type="password" (keyup)="onKey($event)" [(ngModel)]="dangKy.ConfirmPassword" class="input-xlarge">
                        </div>
                        <span *ngIf="confirmPassValidate!=null" style="padding-left:25px;color:red">{{confirmPassValidate}}</span>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label">Giới thiệu</label>
                        <div class="controls">
                            <textarea class="input-xlarge" (keyup)="onKey($event)" [(ngModel)]="dangKy.GioiThieu"></textarea>
                        </div>
                        <span *ngIf="gioiThieuValidate!=null" style="padding-left:25px;color:red">{{gioiThieuValidate}}</span>
                    </div>

                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-success" (click)="Register()">Đăng ký</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>