<header class="tech-header header">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
            <div class="container-fluid">

                <a class="navbar-brand" [routerLink]="['/home']">
                    <img src="https://www.nashtechglobal.com/wp-content/themes/nashtech/library/images/NashTech-logo-new.svg" style="height:50px;width:100px;"
                        alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto ">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/home']">Trang chủ</a>
                        </li>
                        <li class="nav-item" *ngIf="userName!= null && userName != undefined">
                            <a class="nav-link" [routerLink]="['/dang-bai-moi']">Đăng bài mới</a>
                        </li>
                        <!-- <li *ngIf="userName!= null && userName != undefined" class="nav-item dropdown has-submenu  ">
                                                <a class="nav-link dropdown-toggle dropdown" [routerLink]="['/thong-tin']">{{userName}}</a>
                                                <ul class="dropdown-menu " aria-labelledby="dropdown01">
                                                    <li>
                                                        <div>
                                                            <div class="dropdown-content">
                                                                <a [routerLink]="['/thong-tin']">Thông tin tài khoản</a>
                                                                <a (click)="logout()">Đăng xuất</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li> -->

                        <li class="nav-item" *ngIf="userName == undefined">
                            <a class="nav-link" [routerLink]="['/login']">Đăng nhập</a>
                        </li>
                        <li *ngIf="userName!= null && userName != undefined" class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                {{userName}}
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" [routerLink]="['/thong-tin']">Thông tin tài khoản</a>
                                <a class="dropdown-item" (click)="logout()">Đăng xuất</a>

                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-2  ">
                        <li class="nav-item dropdown spacing-dropdown" *ngIf="userName!= null && userName != undefined">
                            <a href="#" (click)="HaveClick()" class=" dropdown-toggle notification" id="navbardrop" data-toggle="dropdown">
                                <i class="far fa-bell"></i> Thông báo
                                <span class="badge">{{countNotification}}</span>
                            </a>
                            <div class="dropdown-menu width-dropdown notificationss">
                                <ul class="anyClass">
                                    <li class="icon" *ngFor="let item of notificationDisplay;let i = index">
                                        <span class="icon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <a class="text" (click)="HaveReadNotification(item)"  *ngIf="item.isRead==true">{{item.body}}</a>
                                        <a class="text" (click)="HaveReadNotification(item)"  *ngIf="item.isRead==false"><b>{{item.body}}</b></a>
                                    </li>
                                    
                                    <li class="icon" *ngIf="numberCheck >10">

                                        <a class="text" (click)="XemThem()" style="padding-left:90px;">Xem thêm</a>
                                    </li>
                                </ul>


                                <!-- <div class="dropdown-item">
                                                    <i class="fas fa-bullhorn "></i><a  href="#"> User đã bình luận bài viết của bạn voi noi dung asasdasd</a>
                                            </div>
                                               
                                                <a class="dropdown-item" href="#"><i class="fas fa-bullhorn"></i> Link 2</a>
                                                 <a class="dropdown-item" href="#"> <i class="fas fa-bullhorn"></i> Link 3</a> -->
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-rss"></i>

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-android"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-apple"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                          </form> -->
            </div>

        </nav>
        <!-- <nav class="navbar navbar-toggleable-md  fixed-top bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/home']">
                <img src="https://www.nashtechglobal.com/wp-content/themes/nashtech/library/images/NashTech-logo-new.svg" style="height:50px;width:100px;"
                    alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/home']">Home</a>
                    </li>
                    <li class="nav-item" *ngIf="userName!= null && userName != undefined">
                        <a class="nav-link" [routerLink]="['/dang-bai-moi']">Đăng bài mới</a>
                    </li>
                    <li class="nav-item ">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Dropdown button
                            </button>
                            <ul class="dropdown-menu " aria-labelledby="dropdown01">
                                    <li>
                                        <div>
                                            <div class="dropdown-content">
                                                <a [routerLink]="['/thong-tin']">Thông tin tài khoảnádddddddddddddddddddddqweqweqweqwwq</a>
                                                <a (click)="logout()">Đăng xuất</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            
                        </div>
                    </li>
                    <li *ngIf="userName!= null && userName != undefined" class="nav-item dropdown has-submenu  ">
                        <a class="nav-link dropdown-toggle dropdown" [routerLink]="['/thong-tin']">{{userName}}</a>
                        <ul class="dropdown-menu " aria-labelledby="dropdown01">
                            <li>
                                <div>
                                    <div class="dropdown-content">
                                        <a [routerLink]="['/thong-tin']">Thông tin tài khoản</a>
                                        <a (click)="logout()">Đăng xuất</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item" *ngIf="userName == undefined">
                        <a class="nav-link" [routerLink]="['/login']">Đăng nhập</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-2">
                    <li *ngIf="userName!= null && userName != undefined" class="nav-item dropdown has-submenu  ">
                        <a class="nav-link dropdown-toggle dropdown notification" [routerLink]="['/thong-tin']"> Notification
                            <span class="badge">{{countNotification}}</span></a>
                        <ul class="dropdown-menu " aria-labelledby="dropdown01">
                            <li>
                                <div>
                                    <div class="dropdown-content">
                                        <a [routerLink]="['/thong-tin']">Thông tin tài khoảnádddddddddddddddddddddqweqweqweqwwq</a>
                                        <a (click)="logout()">Đăng xuất</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" >Dropdown</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                              <a class="dropdown-item" href="#">Link 1</a>
                              <a class="dropdown-item" href="#">Link 2</a>
                              <a class="dropdown-item" href="#">Link 3</a>
                            </div>
                          </li>
                    <li class="nav-item" *ngIf="userName!= null && userName != undefined">
                        <a href="#" class="notification">
                            Notification
                            <span class="badge">{{countNotification}}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-rss"></i>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-android"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-apple"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav> -->
    </div>
    <!-- end container-fluid -->
</header>
<!-- end market-header -->