.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  .notification {
    
    color: white;
    text-decoration: none;
   padding-top:10px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  
  
  .notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }
  .width-dropdown{
    padding-top:5px;  
  }
  @media screen and (max-width: 1768px) {
    .width-dropdown {
        width: 296px;
    }
    .spacing-dropdown{
      margin-right: 50px;
    }
}

@media screen and (max-width: 988px) {
  .width-dropdown {
    width: 27% !important;
}
  .notificationss ul  {
      width: 27% !important;
  }
  
}
.anyClass {
  height:400px;
  overflow-y: scroll;
}


.notificationss ul {
  position: absolute;
  left: 0;
  
  margin: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  padding: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: block;
}


.notificationss ul li {
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: 8px 0;
  display: flex;
}

.notificationss ul li:last-child {
  border-bottom: none;
}

.notificationss ul li .icon {
  width: 24px;
  height: 24px;
  background: #ccc;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-right: 15px;
}

.notificationss ul li .icon .fa {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.notificationss ul li .text {
  position: relative;
  font-family: sans-serif;
  top: 3px;
  cursor: pointer;
}

.notificationss ul li:hover .text {
  font-weight: bold;
  color: #ff2c74;
}

