<div class="container" style="padding-top:120px;" *ngFor="let item of klkl;let i = index">
    <div>
        <span>{{item.Body}}</span>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <button class="btn btn-primary" (click)="createFireBase()">Test Add Data FireBase</button>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary" (click)="updateFireBase()">Test Update Data FireBase</button>
        </div>
        <div class="col-sm-4">

            <button class="btn btn-primary" (click)="deleteFireBase()">Test Delete Data FireBase</button>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary" (click)="createFireBase2()">Test Add Data FireBase Way 2</button>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary" (click)="updateFireBase()">Test Update Data FireBase</button>
        </div>
        <div class="col-sm-4">

            <button class="btn btn-primary" (click)="deleteFireBase()">Test Delete Data FireBase</button>
        </div>

    </div>
</div>
<!-- <div class="container">
        <div class="row">
            <h2 class="center">Notification with viwe list when hover the bell icon</h2>
            <div class="box">
                <div class="notifications">
                    <i class="fa fa-bell"></i>
                    <span class="num">4</span>
                    <ul>
                        <li class="icon">
                            <span class="icon">
                                <i class="fa fa-user"></i>
                            </span>
                            <span class="text">Someone Like Your Post</span>
                        </li>
                        <li class="icon">
                            <span class="icon">
                                <i class="fa fa-user"></i>
                            </span>
                            <span class="text">Someone Like Your Photo</span>
                        </li>
                        <li class="icon">
                            <span class="icon">
                                <i class="fa fa-user"></i>
                            </span>
                            <span class="text">Someone Dislike Your Posádadasdasdddt</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->

<div class="container row" style="padding-top: 25px;">
    <div class="col-sm-2"></div>

    <div class="col-sm-8">
        <form #form class="form-group border-0 background" style="border:1px solid black">
            <h2>Test upload file to Amazon</h2>
            <div>
                <div class=" form-group">
                    <label class="mr-2  ">Upload to Amazon:</label>
                    <input #userPhoto type="file" title="Choose a video please" [accept]="[
                    '.doc',
                    '.docx',
                    '.jpg',
                    '.jpeg',
                    '.jfif',
                    '.pdf',
                    '.png',
                    '.xls',
                    '.xlsx']" (change)="fileSelectedAMZ($event.target.files)">
                </div>

                <button class="btn btn-primary text-center" style="margin: 15px auto 31px; "
                    (click)="UploadAnhToAMZ()">Gửi</button>
                <button class="btn btn-primary text-center" style="margin: 15px auto 31px; "
                    (click)="Download()">Download</button>
                <button class="btn btn-primary text-center" style="margin: 15px auto 31px; " (click)="Hienthi()">Hiển
                    thị</button>

                <!-- <img
                    src="https://khanhhoangtestaws.s3.ap-southeast-1.amazonaws.com/hoangfolder/36f82166-bfa3-4693-a9d1-cc6b0a4422ee_chuong.jpg?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjECMaDmFwLXNvdXRoZWFzdC0xIkcwRQIhAM%2BCY7e9UVrLhNh9f5iDa8SmJo5H4O%2FfpioJh38zuCWdAiBQtIc%2FsixgL2uxnpeBJhbn0SdoZN8cUCKXNtNnoNU%2FWyr4AQhsEAAaDDczNzAxNjMzMzIwMSIM2iHZPTnSkX0MNssZKtUBd5ulBuHHsBmSM2obTeEyhT%2FlKZ%2F7i6AzGo0Vm9wQJZAOCC3CUZYoRvcWc%2FTuWluHnkdovuHYTwQrHxoqLnkOTTHA6NH8rGLS1YcMKib8fDWz9zhjv%2FSg9n6Mr%2FT6jDE6tIrjKiNRxfHi31BO%2FYsgAljz6xllYeAOy3c2eSsph1oStbRWW4smEWvGQdj4amWy1jeg00DoEVIhYs1KurRhmcjBaEZjzVLhEjG22mG1XBFV1qNe9YYAfA3W1UeIldoujMyHlDXXtywjtm%2B0sHGta7r%2FZvQfMIrZ8vUFOvYCMKZXP7oYKEHO%2Fyn7LAixPvy7OjhZ6RmPbewA9PDaZhsauvTXaqDTywGL6N72xOhvvN2Z3tDpNu8cMxhmi6yEDfCJMuai%2BHP8VGXHW64i72Vb4kLvfOLiUXbsXcrXz4xBTX8s%2BLA6Xa9CdLKJOtVrzJpIXU05szjzRsvFKRcSEElEMzuM%2FC5XhB8XmZxYLU6nEfz5%2Ff0LBxCdqq9h92xXRwJbSIc6JyIPhJQGauEsRm%2FL2AHjNTlRbJl3N%2Bu5%2BbP6%2FMt6HXxHyIvoubapCmcWH2A5KdREhuauIbDVnCkOWWvmjfjFDyVqMcOZG7kpJU9vcbjY8uJ1VesyIYEH6xdkwNXzigytJPRz2y%2FVEAzRXqlmk5DgHLqhMOucTbofNtabD0nFm%2BucSM3SJc7Wt2UzAaidR9JOFRtwQKDH46V20vBUB6%2BlCp9FsxOaYyzbAd%2Fk44mGzBPmaTFORsfxNsDgKLJffR%2BoxCCEp%2B8k5h1w8Lbl%2Frt%2B6G4%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200514T060015Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIA2XGMYYOI7AGM4NPI%2F20200514%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Signature=afca92c4e9713514be92fc3ef8364ccb7535124c6254ac99dec8eb6cff27d090" /> -->
            </div>
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Đang tải... </p>
</ngx-spinner>



<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <section>
                <div class="container">
                    <div class="row">
                        <button type="button" (click)="HienthiPDF()" class="btn btn-primary" data-toggle="modal"
                            data-target="#exampleModal">
                            Hiển thị PDF
                        </button>
                        <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="myLargeModalLabel">
                            <div class="modal-dialog modal-lg" role="document">

                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Contract Us</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="wrapper-pdf">

                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <div class="mr-auto">
                                            <span> Enter call: 0906765458</span>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" style="margin-left: 5px;" (click)="DownloadPDF()" class="btn btn-primary">Tải về</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-sm-6">

            <section>
                <div class="container">
                    <div class="row">
                        <button type="button" (click)="Hienthi()" class="btn btn-primary" data-toggle="modal"
                            data-target="#exampleModal1">
                            Hiển thị
                        </button>
                        <div class="modal fade " id="exampleModal1" tabindex="-1" role="dialog"
                            aria-labelledby="myLargeModalLabel">
                            <div class="modal-dialog modal-lg" role="document">

                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Contract Us</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="wrapper">

                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <div class="mr-auto">
                                            <span> Enter call: 0906765458</span>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" style="margin-left: 5px;" (click)="Download()" class="btn btn-primary">Tải về</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>